.Skills {
  padding: .5em 0;
  &__item {
    font-size: .8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: .5em;
    padding-right: .5em;
  }
  &__icon {
    flex-shrink: 0;
    width: 3em;
    height: 2em;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__title {
    font-weight: 400;
    font-size: 1em;
    margin: 0;
  }
  &__subtitle {
    font-size: .8em;
  }
}